.container {
    display: flex;
    justify-content: center;
    background-color: #F7F6F3;
}

.grid_continer {
    width: 70vw;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.item {
    border: solid 2px;
    border-color: rgba(210, 214, 220);
}

.item > a {
    text-decoration: none;
}

.item_img {
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.item_img > img {
    width: 300px;
    height: 150px;
}

.item_title {
    height: 15vh;
    margin-top: 15px;
    margin-left: 5px;
    background-color: #F7F6F3;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 30px;
    color: black;
}

.content {
    margin-top: 10px;
    font-size: 15px;
    color: gray;
}