.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.part {
    width: 40vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFC107;
    color: white;
    text-align: center;
    border-radius: 20px;
}

.hours, .minutes {
    font-size: 20vw;
}
